<header   class="topbar animated fadeIn">
    <nav class="navbar top-navbar navbar-expand-md navbar-light bg-secondary">

        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img width="65" src="assets/images/img/logo.png" alt="Home" />
                <span class="text-center text-white"> clínica<strong><strong>Hache</strong></strong></span>
            </a>
        </div>

        <div class="navbar-collapse">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
                        href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>

            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><img [src]="usuarioService.usuario.imagen | imagen" alt="user"
                            class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated fadeIn">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img [src]="usuarioService.usuario.imagen |imagen" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{usuarioService.usuario.nombre}}</h4>
                                        <p class="text-muted">{{usuarioService.usuario.email}}</p><a routerLinkActive="active"
                                            routerLink="/perfil" class="btn btn-rounded btn-danger btn-sm">Ver
                                            Perfil</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a (click)="usuarioService.logout()" class="pointer"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>