<div class="fondo-negro animated fadeIn " [ngClass]="oculto">
    <div class="modal " style="display: block;" tabindex="-1" role="dialog">
      <div class="modal-dialog " style="overflow-y:scroll; max-width: 80%; max-height: 85%;" role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <img width="50" src="assets/images/img/logo.png" />
            <h5 class="modal-title">Información Legal</h5>
            <button type="button" (click)="cerrarModal()" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body " style="height: 80%; overflow-y: auto;">
            <div class="badge badge-primary text-wrap" >
              Legislación
            </div>
            <p class="mr-5 " style="color: black;">Con carácter general las relaciones entre Clínica Hache con los usuarios de los servicios telemáticos presentes en la web, se encuentran sometidas a la legislación y jurisdicciones españolas.

                Las partes renuncian expresamente al fuero que les pudiera corresponder y se someten expresamente a los Juzgados y Tribunales para resolver cualquier controversia que pueda surgir en la interpretación o ejecución de las presentes condiciones contractuales.</p>
            <div class="badge badge-primary text-wrap text-align" >
              Condiciones y uso
            </div>
            <p class="mr-5" style="color: black;">El usuario se obliga a hacer un uso correcto del sitio web de conformidad con las leyes en vigor. El usuario responderá frente al propietario de la web o frente a terceros, de cualesquiera daños y perjuicios que pudieran causarse como consecuencia del incumplimiento de dicha obligación. La Clínica se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en su Web, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en sus servidores.</p>
            <div class="badge badge-primary text-wrap" >
                Finalidades:
            </div>
            <p class="mr-5" style="color: black;">Las finalidades de nuestro portal son el mantenimiento y gestión de la relación con el Usuario, así como las labores de información.</p>
            <div class="badge badge-primary text-wrap" >
                Medidas de seguridad
            </div>
            <p class="mr-5" style="color: black;">Clínica Hache ha adoptado los niveles de seguridad de protección de los Datos Personales legalmente requeridos y las medidas técnicas adicionales a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los Datos Personales facilitados. Este portal no será responsable de posibles daños o perjuicios que se pudieran derivar de interferencias, omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a nuestra gestión.</p>
            <div class="badge badge-primary text-wrap" >
                POLÍTICA DE PRIVACIDAD
            </div>
            <p class="mr-5" style="color: black;">Aviso sobre los derechos a la protección de datos personales. Clínica Hache le informa que, a través de este sitio web no se recabarán datos de carácter personal de los usuarios sin su conocimiento, ni se cederán a terceros.

                Con la finalidad de ofrecerle el mejor servicio y con el objeto de facilitar el uso, se analizan el número de páginas visitadas, el número de visitas, así como la actividad de los visitantes y su frecuencia de utilización. A estos efectos, la Clínica, utiliza la información estadística elaborada por el Proveedor de Servicios de Internet.</p>
            <div class="badge badge-primary text-wrap" >
                Legitimación para el tratamiento de sus datos:
            </div>
            <p class="mr-5" style="color: black;">Existe un interés legítimo para el tratamiento de sus datos basado en la respuesta a su petición o solicitud de información u oferta.

                También puede haber un consentimiento expreso para el envío de comunicaciones comerciales, si el usuario lo requiere.
                
                Los datos sólo podrán ser utilizados para los fines expuestos, de acuerdo con los principios de transparencia y de limitación de la finalidad.</p>
            <div class="badge badge-primary text-wrap" >
                Privacidad:
            </div>
            <p class="mr-5" style="color: black;">En cumplimiento con la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y Garantía de los Derechos Digitales, Reglamento Europeo 2016/679 por el que se regula el derecho de información en la recogida de los datos, le informamos de los siguientes extremos:

                Nuestra Clínica se compromete a proteger su privacidad, además le aseguramos que cualquier información que nos facilite será mantenida de forma privada y segura, evitando en cualquier caso captar información sin su consentimiento explícito. </p>
            
            <div class="badge badge-primary text-wrap" >
                Conservación de datos:
            </div>
            <p class="mr-5" style="color: black;">Los datos personales proporcionados se conservarán durante el tiempo necesario para cumplir con la finalidad para la que se recaban y para determinar las posibles responsabilidades que se pudieran derivar de la finalidad, además de los períodos establecidos en la normativa de archivos y documentación.</p>
          </div>
          <div class="modal-footer">
            <button type="button" (click)="cerrarModal()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>