<h1>Seleccione la especialidad: </h1>
<div class="row text-white">
    <div class="card text-center" style="width: 18rem;">

        <img width="100"class="card-img text-center" src="assets/images/img/1.PNG" alt="Home" /> 
        <div class="card-body ">
            <button class="btn bg-logo text-white" (click)="buscarMedicosEspecialidad(especialidades[0])">
               MEDICINA GENERAL
            </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">

        <img width="100"class="card-img text-center" src="assets/images/img/traumatologia.PNG" alt="Home" /> 
        <div class="card-body ">
            <button class="btn bg-logo text-white" (click)="buscarMedicosEspecialidad(especialidades[1])">
                TRAUMATOLOGÍA
            </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img width="100"class="card-img text-center" src="assets/images/img/medicina3.PNG" alt="Home" /> 
        <div class="card-body ">
            <button class="btn bg-logo text-white" (click)="buscarMedicosEspecialidad(especialidades[2])">
                MEDICINA INTERNA
            </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
        <img width="100"class="card-img text-center" src="assets/images/img/neurologia.PNG" alt="Home" /> 
        <div class="card-body ">
            <button class="btn bg-logo text-white" (click)="buscarMedicosEspecialidad(especialidades[3])">
                NEUROLOGÍA
            </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>

    
    <div class="card text-center" style="width: 18rem;">
        <img width="100"class="card-img text-center" src="assets/images/img/alergologia.PNG" alt="Home" /> 
        <div class="card-body ">
            <button class="btn bg-logo text-white" (click)="buscarMedicosEspecialidad(especialidades[4])">
                ALERGOLOGÍA
            </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>
    <div class="card text" style="width: 18rem;">
        <img width="100"class="card-img text-center" src="assets/images/img/cardiologia.PNG" alt="Home" /> 
        <div class="card-body ">
            <button class="btn bg-logo text-white" (click)="buscarMedicosEspecialidad(especialidades[6])">
                CARDIOLOGÍA
            </button>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>


</div>

<form *ngIf="medicos" ngNativeValidate #form="ngForm" class="form-horizontal form-material"
    (ngSubmit)="pedirCitaPaciente(form)">
    <div class="row">
        <div class=" col-4 col-xs-12 form-group">
            <label for="medico" class="mr-4">Médicos Especializados: </label>
            <select ngModel id="medico" class="col-3 form-control text-center" name="medico">
                <option *ngFor="let medico of medicos" [value]="medico.id.id" class="text-center">{{medico.id.email}}
                    {{medico.id.apellidos}}
                </option>
            </select>
        </div>
        <div class=" col-4 col-xs-12 form-group">

            <label for="fechaConsulta">Fecha de consulta</label>
            <input id="fechaConsulta" name="fechaConsulta" ngModel type="text" bsDatepicker
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  containerClass: 'theme-default'}" class="form-control"
                (bsValueChange)="onValueChange($event,form)" [minDate]="minDate" [(bsValue)]="bsValue">
        </div>
        <div class=" col-4 col-xs-12 form-group">
            <label for="horaCita" class="mr-4">Horas disponibles: </label>
            <select ngModel id="horaCita" class="col-3 form-control text-center" name="horaCita">
                <option *ngFor="let hora of horas" [value]="hora.hora" class="text-center">{{hora.hora}}
                </option>
            </select>
        </div>
    </div>




    <!-- <div class=" col-4 col-xs-12 form-group"> -->
    <!-- <mat-form-field class="example-full-width"> -->
    <!-- <mat-label>Motivo de la consulta</mat-label> -->
    <!-- <textarea matInput ngModel name="motivo" placeholder="Ex. It makes me feel..."></textarea> -->
    <!-- </mat-form-field> -->
    <!-- </div> -->

    <button class="btn btn-primary text-white btn-lg  text-uppercase btn-rounded" type="submit">Guardar Cita</button>
</form>