<h1>Seleccione la especialidad: </h1>

<div class="row">
    <div *ngFor="let especialidad of especialidades" class="card" style="width: 18rem;">
       <img src="..." class="card-img-top" alt="...">
        <div class="card-body ">
    <button (click)="buscarMedicosEspecialidad(especialidad)" >  <h5 class="card-title">{{especialidad.especialidad}}</h5> </button> 
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <!-- <a href="#" >Go somewhere</a> -->
        </div>
    </div>

</div>

<form *ngIf="medicos" ngNativeValidate #form="ngForm" class="form-horizontal form-material"
(ngSubmit)="pedirCitaPaciente(form)">
<div class=" col-4 col-xs-12 form-group">
    <label for="medico" class="mr-4">Médicos Especializados: </label>
    <select ngModel id="medico" class="col-3 form-control text-center" name="medico"
     >
        <option *ngFor="let medico of medicos" [value]="medico.id.id" class="text-center">{{medico.id.email}} {{medico.id.apellidos}}
        </option>
    </select>
    </div>

<div class=" col-4 col-xs-12 form-group">

    <label for="fechaConsulta">Fecha de consulta</label>
    <input id="fechaConsulta"  name="fechaConsulta"
        ngModel type="text" bsDatepicker
        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  containerClass: 'theme-default'}"
        class="form-control"
         (bsValueChange)="onValueChange($event,form)" 
         [minDate]="minDate" 
         [(bsValue)]="bsValue"
         >
</div>
<div class=" col-4 col-xs-12 form-group">
<label for="horaCita" class="mr-4">Horas disponibles: </label>
<select ngModel id="horaCita" class="col-3 form-control text-center" name="horaCita"
 >
    <option *ngFor="let hora of horas" [value]="hora.hora" class="text-center">{{hora.hora}}
    </option>
</select>
</div>
<!-- <div class=" col-4 col-xs-12 form-group"> -->
<!-- <mat-form-field class="example-full-width"> -->
    <!-- <mat-label>Motivo de la consulta</mat-label> -->
    <!-- <textarea matInput ngModel name="motivo" placeholder="Ex. It makes me feel..."></textarea> -->
  <!-- </mat-form-field> -->
<!-- </div> -->

  <button class="btn btn-primary btn-lg  text-uppercase btn-rounded" type="submit">Guardar Cita</button>
</form>
