<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2>Registro de información sobre el nuevo médico {{medicoService.medico.id.email}}</h2>

                <form ngNativeValidate #form="ngForm" class="form-horizontal form-material"
                    (ngSubmit)="completarMedico(form)">

                    <div class="form-group m-t-40 row">
                        <div class=" col-4 col-xs-12 form-group">
                            <label for="especialidad">Seleccione una especialidad</label>
                            <select ngModel class="form-control" name="especialidad">
                                <option *ngFor="let especialidad of especialidades" [value]="especialidad.id" required>
                                    {{especialidad.especialidad}}</option>
                            </select>

                        </div>
                        <div class=" col-4 col-xs-12 form-group">

                            <label for="fechaContratacion">Fecha de contratación</label>
                            <input id="fechaContratacion" name="fechaContratacion" ngModel type="text" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  containerClass: 'theme-default' }"
                                class="form-control" required>

                        </div>
                        <div class=" col-4 col-xs-12 form-group">

                            <label for="fechaFinContrato">Fecha fin de contrato</label>
                            <input id="fechaFinContrato" name="fechaFinContrato" ngModel type="text" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  containerClass: 'theme-default' }"
                                class="form-control">

                        </div>

                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-lg  text-uppercase btn-rounded"
                                type="submit">Guardar Información</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>