
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img
                        [src]="usuarioService.usuario.imagen |imagen" alt="user" /><span class="hide-menu">{{usuarioService.usuario.nombre}}  {{usuarioService.usuario.apellidos}}
                        </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLinkActive="active" routerLink="/home">Inicio </a></li>
                        <li><a routerLinkActive="active" routerLink="/estadisticas">Estadísticas </a></li>
                        <li><a routerLinkActive="active" routerLink="/perfil">Mi perfil</a></li>
                        <li><a  (click)="usuarioService.logout()" class="pointer">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">ÁREA PERSONAL</li>
                <li *ngFor= "let menu of sidebarService.menu">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i [class]="menu.icono"></i><span class="hide-menu">{{menu.titulo}}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let submenu of menu.submenu">
                            <a routerLinkActive="active" [routerLink]="[submenu.url]">{{submenu.titulo}} </a>
                        </li>
                       
                    </ul>
                </li>

            </ul>

        </nav>
    </div>
</aside>
