/* .fondo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
} */
.imagenAmplia{
   
      
      
}
.aplanado {
    width: 100%;
    height: 100%;
  }
  .aplanado2{
      height: 80%;
      width: 100%;
  }
  .imagenLogo{
      width: 9%;
  }
  .letraLogo{
    color: #C6185A;
    font-size: 150%;
  }
 /* *
{
    background-color: rgb(3, 4, 59);
} 
   */
   .colorFondo{
    color: #0b0561;
   }
   
   .enlace:hover{
       color:white;
       font-size: 150%;
   }
