<form ngNativeValidate #form="ngForm" class="form-horizontal form-material" (ngSubmit)="registrarHorario(form)">

    <div class="form-group m-t-40 row">
        <div class=" col-6 col-xs-12 form-group">
            
            <label for="horaInicio" class="mr-4">Hora Inicio:   </label>
            <select ngModel id="horaInicio" class="col-3 form-control text-center" name="horaInicio" (change)="cambiarHoras($event)">
                <option *ngFor="let hora of horas" [value]="hora.hora" class="text-center">{{hora.hora}}</option>
            </select>
            <label for="horaInicio" class="mr-4">Hora Fin:   </label>
            <select ngModel class=" col-3 form-control" name="horaFin">
                <option *ngFor="let hora of horasFin" [value]="hora.hora">{{hora.hora}}</option>
            </select>
        </div>
        <div class=" col-6 col-xs-12 form-group">
            <button type="button" class="btn btn-rounded" (click)="seleccionarDia(1)"
                [ngClass]="getColor(1)">Lunes</button>
            <button type="button" class="btn btn-rounded " (click)="seleccionarDia(2)"
                [ngClass]="getColor(2)">Martes</button>
            <button type="button" class="btn btn-rounded " (click)="seleccionarDia(3)"
                [ngClass]="getColor(3)">Miércoles</button>
            <button type="button" class="btn btn-rounded " (click)="seleccionarDia(4)"
                [ngClass]="getColor(4)">Jueves</button>
            <button type="button" class="btn btn-rounded " (click)="seleccionarDia(5)"
                [ngClass]="getColor(5)">Viernes</button>

        </div>
    </div>



    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-primary btn-lg  text-uppercase btn-rounded" type="submit">Registrar Franja
                Horaria</button>
        </div>
    </div>


</form>