<div class="row fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <input #input (keyup)="buscarUsuario(input.value)" type="text" class="form-control " placeholder="Buscar paciente.." />
    
                    </div>
                    <div class="col-6">
                        <button (click)="abrirModal()" class="btn btn-primary"><i class="fa fa-user-plus"></i><span > Añadir Paciente</span></button>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<div class="row fadeIn"  *ngIf="cargando">
    <div class="col-sm-12">
        <div class="alert alert-secondary text-center">
            <strong> Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span> Espere por favor</span>
        </div>
    </div>
</div>
<app-modal-paciente-nuevo></app-modal-paciente-nuevo>
<div class="row fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
               
                <h3 class="card-title">Pacientes Registrados ( <small>{{totalPacientes}}</small> )</h3>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Informe</th>
                            <th>Rol</th>
                            <th>Opciones</th>
                          
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let paciente of pacientes">
                            <td class="w70">
                                <img [src]="paciente.imagen |imagen" class="img-50 img-circle" >
                            </td>
                            <td>{{paciente.email}}</td>
                            <td>{{paciente.nombre}} {{paciente.apellidos}}</td>
                            <td> <a class="btn " routerLinkActive="active" routerLink="/informes">Inicio </a></td>
                            <td> <label class="label label-danger">Paciente</label></td>
                            <td>
                                <button (click)="editarPaciente(paciente)" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                                <button (click)="borrarUsuario(paciente)" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                            </td>
                    </tr>
                    </tbody>
                </table> 
             <div class="row">
                <nav class="col-12 text-center" aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item "><a class="page-link" routerLinkActive="active" [routerLink]="['/pacientes',prev_page]">Anterior</a></li>
                      <li class="page-item " *ngFor="let num of number_pages" routerLinkActive="active">
                          <a class="page-link"  [routerLink]="['/pacientes',num]">{{num}}</a>
                        </li>
                      <li class="page-item"><a class="page-link" [routerLink]="['/pacientes',next_page]">Siguiente</a></li>
                    </ul>
                  </nav>
             </div>   
               
         
            </div>
        </div>
    </div>
</div>
<!-- <app-modal-usuario></app-modal-usuario> -->
