.w150{
    width: 150px;
}
.pointer{
    cursor: pointer;
}
.img-50{
    width: 50px;
}
.w70{
    width: 70px;
}
.fondo-negro{
    background-color: rgba(0,0,0, 0.6);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.oculto{
    display: none;
}
.ocultoMedico{
    display: none;
}
.bg-rosa{
    background-color: rgb(138, 63, 222);
}
.bg-logo{
    background-color: rgb(170, 19, 112);
}
.bg-logoClaro{
    background-color: rgb(218, 116, 178);
}
.letraLogo{
    color: #C6185A;
    font-size: 150%;
  }
  a:hover{
      
      color: #C6185A;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
