<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="box-body">
                    <form ngNativeValidate #form="ngForm" class="form-horizontal form-material"
                        (ngSubmit)="pedirCita(form)">
                     

                        <div class=" col-4 col-xs-12 form-group">

                            <label for="fechaConsulta">Fecha de consulta</label>
                            <input id="fechaConsulta"  name="fechaConsulta"
                                ngModel type="text" bsDatepicker
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  containerClass: 'theme-default'}"
                                class="form-control"
                                 (bsValueChange)="onValueChange($event)" 
                                 [minDate]="minDate" 
                                 [(bsValue)]="bsValue"
                                 >
                        </div>
                        <div class=" col-4 col-xs-12 form-group">
                        <label for="horaCita" class="mr-4">Horas disponibles: </label>
                        <select ngModel id="horaCita" class="col-3 form-control text-center" name="horaCita"
                         >
                            <option *ngFor="let hora of horas" [value]="hora.hora" class="text-center">{{hora.hora}}
                            </option>
                        </select>
                        </div>
                        <!-- <div class=" col-4 col-xs-12 form-group"> -->
                        <!-- <mat-form-field class="example-full-width"> -->
                            <!-- <mat-label>Motivo de la consulta</mat-label> -->
                            <!-- <textarea matInput ngModel name="motivo" placeholder="Ex. It makes me feel..."></textarea> -->
                          <!-- </mat-form-field> -->
<!-- </div> -->

                          <button class="btn btn-primary btn-lg  text-uppercase btn-rounded" type="submit">Guardar Cita</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- <full-calendar id="calendar"  defaultView="dayGridMonth" [plugins]="calendarPlugins" [weekends]="false"
    [events]="[
  { title: 'event 1', date: '2020-06-01' },
  { title: 'event 2', date: '2020-06-02' }
]"></full-calendar> -->