
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div *ngIf="paciente">
                    <h4 class="card-title">  </h4>
                                    <h6 class="card-subtitle">{{ paciente.id.nombre }} {{paciente.id.apellidos}}</h6>
                                    <div class="media">
                                        <img [src]="paciente.id.imagen | imagen" class=" rounded align-self-center mr-3 w150" >
                                        <div class="media-body">
                                          <h5 class="mt-0">Datos personales</h5>
                                            <p>{{paciente.fechaNacimiento}}</p>
                                            <p>{{paciente.id.email}}</p>
                                            <p>{{paciente.mutua}}</p>
                                            <p>{{paciente.seguridadSocial}}</p>

                                          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                                          <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                        </div>
                                      </div>
                </div>

               
                
                
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button>Acceder al historial clínico</button>
                <button>Gestionar Ingreso del paciente</button>
                <button>Redactar nuevo Informe</button>
                <button>Solicitar prueba</button>
                <button>Gestionar Cirugía</button>
                <button>Dar Alta</button>
                <button>Dar Baja</button>
            </div>
        </div>
    </div>
</div>